include README.md
include LICENSE
include requirements.txt
recursive-include locality_processor *.py
recursive-include models *.py
recursive-include config *.env.template
exclude tests/*
exclude results/*
exclude output/*
exclude input/*
